<div class="fade-img">
  <img src="assets/A3QqDivSjDLEPRM1608711427_1608711465.jpg" class="picture">
</div>

<div class="container mx-auto" style="width: 80vw">
    <div class="row mt-4">
        <div class="col-12 col-md-6">画像</div>
        <div class="col-12 col-md-6 description">
            <h1>行きたい場所を検索してみよう！！</h1>
            <p>地名で検索して、ほかの人がシェアしている画像や感想を見ることができます。</p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12 col-md-6 description">
            <h1>お気に入りの場所を共有しよう！</h1>
            <p>ログインして、今まで行ったお気に入りの場所を共有できます。画像や評価や感想など他の人にどのような場所か説明しましょう。</p>
        </div>
        <div class="col-12 col-md-6">画像</div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12 col-md-6">画像</div>
        <div class="col-12 col-md-6 description">
            <h1>予定表を作ろう！！</h1>
            <p>これから行く旅行の予定を立てれます。</p>
        </div>
    </div>
</div>


<footer>
    <div class="text-center">
            <small>© 2020 Taka. All Rights Reserved.</small>
    </div>
</footer>